<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>SneakersHTC-SeccionNike</title>
</head>
    <h1 class="display-1 titulo">Nike Air Force</h1>
    <h6 class="display-6 text-white text-center"> ~Todos los pares de sneakers Nike Air Force disponibles~</h6>
<hr>
<body class="parallax">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-black">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/index.html">Inicio</a>
          <button class="navbar-toggler bg-light bg-opacity-25" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/views/MarcasModelos.html">Volver</a>
              </li>
            </ul>
            <span class="navbar-text text-white-50">
              ~Since 2000~
            </span>
          </div>
        </div>
      </nav>
      
      <div class="card mb-3 mx-auto" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/NikeAirForceJDI.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">~Nike Air Force "Just Do It"~</h5>
              <hr>
              <p class="card-text">U$D 200 / AR$ 21.000</p>
              <div class="col-md-4">
                <label for="inputState" class="form-label text-white">Talle</label>
                <select id="inputState" class="form-select">
                  <option>8 us</option>
                  <option>9 us</option>
                  <option>9.5 us</option>
                  <option>10.5 us</option>
                  <option>11 us</option>
                </select>
              </div>
              <hr>
              <button type="button" class="btn btn-secondary"><a class="nav-link text-white" href="/views/Formulario.html">Comprar</a> </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 mx-auto" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/AirForceNBA.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">~Nike Air Force LV7 1 NBA~</h5>
              <hr>
              <p class="card-text">U$D 200 / AR$ 21.000</p>
              <div class="col-md-4">
                <label for="inputState" class="form-label text-white">Talle</label>
                <select id="inputState" class="form-select">
                  <option>6 us</option>
                  <option>7 us</option>
                  <option>7.5 us</option>
                  <option>11.5 us</option>
                  <option>13 us</option>
                </select>
              </div>
              <hr>
              <button type="button" class="btn btn-secondary"><a class="nav-link text-white" href="/views/Formulario.html">Comprar</a></button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 mx-auto" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/nike-air-force-1-high-white-team-red.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">~Nike Air Force 1 High White & Red~</h5>
              <hr>
              <p class="card-text">U$D 250 / AR$ 26.000</p>
              <div class="col-md-4">
                <label for="inputState" class="form-label text-white">Talle</label>
                <select id="inputState" class="form-select">
                  <option>9 us</option>
                  <option>9.5 us</option>
                  <option>10 us</option>
                  <option>10.5 us</option>
                  <option>12 us</option>
                </select>
              </div>
              <hr>
              <button type="button" class="btn btn-secondary"> <a class="nav-link text-white" href="/views/Formulario.html">Comprar</a></button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 mx-auto" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/calzado-air-force-1-mid-07-NQ2TT6.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">~Nike Air Force 1 "Corcho"~</h5>
              <hr>
              <p class="card-text">U$D 250 / AR$ 26.000</p>
              <div class="col-md-4">
                <label for="inputState" class="form-label text-white">Talle</label>
                <select id="inputState" class="form-select">
                  <option>6 us</option>
                  <option>6.5 us</option>
                  <option>7 us</option>
                  <option>7.5 us</option>
                  <option>8 us</option>
                </select>
              </div>
              <hr>
              <button type="button" class="btn btn-secondary"> <a class="nav-link text-white" href="/views/Formulario.html">Comprar</a></button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 mx-auto" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/AirForceBORDOBLANCO.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">~Nike Air Force LV8 2~</h5>
              <hr>
              <p class="card-text">U$D 200 / AR$ 21.000</p>
              <div class="col-md-4">
                <label for="inputState" class="form-label text-white">Talle</label>
                <select id="inputState" class="form-select">
                  <option>8 us</option>
                  <option>8.5 us</option>
                  <option>10.5 us</option>
                  <option>11.5 us</option>
                  <option>12 us</option>
                </select>
              </div>
              <hr>
              <button type="button" class="btn btn-secondary"> <a class="nav-link text-white" href="/views/Formulario.html">Comprar</a></button>
            </div>
          </div>
        </div>
      </div>

<h3 class="display-1 titulo">~Exclusivos~</h3>

<div class="card mb-3 mx-auto" style="max-width: 600px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/off-white-air-force-1-blue-release-info.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">~Nike Air Force University Blue x OFF-WHITE~</h5>
          <hr>
          <p class="card-text">U$D 3.700 / AR$ 400.000</p>
          <p class="card-text"><small class="text-muted">Este par es exclusivo de importación</small></p>
          <div class="col-12">
            <label for="inputAddress" class="form-label text-black">Talle</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="~Ingrese su Talle~">
          </div>
          </div>
          <hr>
          <button type="button" class="btn btn-secondary"> <a class="nav-link text-white" href="/views/Formulario.html">Comprar</a> </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 mx-auto" style="max-width: 600px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/AirForceTravisScott.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">~Nike Air Force  x Travis Scott~</h5>
          <hr>
          <p class="card-text">U$D 1.800 / AR$ 200.000</p>
          <p class="card-text"><small class="text-muted">Este par es exclusivo de importación</small></p>
          <div class="col-12">
            <label for="inputAddress" class="form-label text-black">Talle</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="~Ingrese su Talle~">
          </div>
          </div>
          <hr>
          <button type="button" class="btn btn-secondary"><a class="nav-link text-white" href="/views/Formulario.html">Comprar</a> </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 mx-auto" style="max-width: 600px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/TravisBandana.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">~Nike Air Force SB Dunk "Bandana" x Travis Scott~</h5>
          <hr>
          <p class="card-text">U$D 4.900 / AR$ 600.000</p>
          <p class="card-text"><small class="text-muted">Este par es exclusivo de importación</small></p>
          <div class="col-12">
            <label for="inputAddress" class="form-label text-black">Talle</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="~Ingrese su Talle~">
          </div>
          </div>
          <hr>
          <button type="button" class="btn btn-secondary"><a class="nav-link text-white" href="/views/Formulario.html">Comprar</a> </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 mx-auto" style="max-width: 600px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/20200302-Supreme-01.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">~Nike Air Force x SUPREME~</h5>
          <hr>
          <p class="card-text">U$D 150.000 / AR$ 15.500.000</p>
          <div class="col-md-4">
            <label for="inputState" class="form-label text-white">Localidad</label>
            <select id="inputState" class="form-select">
              <option selected>Black</option>
              <option>White</option>
            </select>
          </div>
          <p class="card-text"><small class="text-muted">Este par es exclusivo de importación</small></p>
          <div class="col-12">
            <label for="inputAddress" class="form-label text-black">Talle</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="~Ingrese su Talle~">
          </div>
          </div>
          <hr>
          <button type="button" class="btn btn-secondary"> <a class="nav-link text-white" href="/views/Formulario.html">Comprar</a> </button>
        </div>
      </div>
    </div>
  </div>
    
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <footer class="pie"> © Derechos de Reserva </footer>
</html>